<link href="https://fonts.googleapis.com/css?family=Astloch|Caesar+Dressing|Cinzel|Playfair+Display+SC|Sofadi+One|Tangerine|Uncial+Antiqua|UnifrakturMaguntia&display=swap" rel="stylesheet">

font-family: 'Cinzel', serif;
font-family: 'Playfair Display SC', serif;
font-family: 'Tangerine', cursive;
font-family: 'UnifrakturMaguntia', cursive;
font-family: 'Uncial Antiqua', cursive;
font-family: 'Astloch', cursive;
font-family: 'Caesar Dressing', cursive;
font-family: 'Sofadi One', cursive;